@use "sass:math";
@use "sass:color";
$font-stack: Helvetica, sans-serif;
$poster-width: 200px;
$accent-color: rgb(1, 1, 69);
$accent-color-light: lighten($accent-color, 10%);


body {
    font: 100% $font-stack;
}

header {
    background-color: $accent-color;
    nav {
        background-color: inherit;
    }
}

.container {
    max-width: 1000px;
    padding: 0 20px;
}

#login-button {
    height: 40px;
    width: 56px;
}

.nav-button {
    color: lightgrey;
    height: 35px;
    width: 40px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    * {
        
        color: lightgrey
    }
}

.movie-scroll {
    list-style-type: none;
    white-space: nowrap;
    overflow-x: scroll;
    gap: 10px;
}

// TODO: Make poster width react to screen size
.movie-card {
    display: inline-block;
    height: $poster-width;
    width: $poster-width * math.div(27,40);
    position: relative;
    border-radius: 2px;
    img {
        border-radius: inherit;
        height: 100%;
        width: 100%;
        flex: 1;
    }
    a {
        border-radius: inherit;
    }
    p {
        font-size: 12px;
        color: black;
        background-color: white;
        opacity: 85%;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}

.btn-movie
{
    background-color: rgb(1, 1, 69);
}

.form-appear {
    display:none;
}

.stars {
    position: absolute;
    width: 100%;
    color: yellow;
    top: 4px;
    display: flex;
    justify-content: center;
}


.img-thumbnail {
    width: 200px;
    height: 220px;
    object-fit: cover;
    padding: 3px;
}

.list-group-item:hover {
    background-color: $accent-color-light;
}
